<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=172.20.207.4;Initial Catalog=LitePDV;User ID=sa;Password=TrdSystem4004!;Encrypt=False;"
   providerName="System.Data.SqlClient" />
  <add name="LitePDV.Properties.Settings.LitePDVConnectionString"
   connectionString="Data Source=172.20.207.4;Initial Catalog=LitePDV;User ID=sa;Password=TrdSystem4004!;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>